<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Branches</title>
    <link th:href="@{/css/header.css}" rel="stylesheet"/>
    <link th:href="@{/css/footer.css}" rel="stylesheet"/>
    <link th:href="@{/css/table.css}" rel="stylesheet"/>
    <link th:href="@{/css/button.css}" rel="stylesheet"/>
    <link th:href="@{/css/form.css}" rel="stylesheet">
</head>
<body>
<div class="header">
    <button class="btn b3">
        <a th:href="@{/logout}">Logout</a>
    </button>
    <h1>Учет оборудования</h1>
</div>

<div class="topnav">
    <a th:href="@{/}">Главная</a>
    <a th:href="@{/equipments/}">Оборудование</a>
    <a th:href="@{/invoices/}">Накладные</a>
    <a th:href="@{/organizations/}">Организации</a>
    <a class="active" th:href="@{/branches/}">Филиалы</a>
    <a th:href="@{/branches_departments/}">Отделы</a>
    <a th:href="@{/resPersons/}">МОЛ</a>
    <a th:href="@{/rest-organizations/}">Rest</a>
</div>

<h1>Удалить информацию о Филиале</h1>
<div class="container">
    <form th:method="post" th:action="@{/branches/branch-delete/}" th:object="${branch}">

        <input type="hidden" name="pageNum" th:value="${pageNum}">
        <input type="hidden" name="sortField" th:value="${sortField}">
        <input type="hidden" name="sortDir" th:value="${sortDir}">
        <input type="hidden" name="id" th:value="${branch.id}">

        <label for="name">Филиал:</label>
        <input type="text" th:field="*{name}" id="name" disabled>

        <label for="address">Адрес: </label>
        <input type="text" th:field="*{address}" id="address" disabled>

        <label for="contact">Контактное лицо: </label>
        <input type="text" th:field="*{contact}" id="contact" disabled>

        <label for="phone">Телефон:</label>
        <input type="text" th:field="*{phone}" id="phone" disabled>

        <input type="hidden" name="action">
        <button type="submit">Удалить</button>

        <button type="reset">
            <a th:href="@{'/branches/page/' + ${pageNum} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Назад</a>
        </button>
    </form>
</div>
</body>
</html>