<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Equipments</title>
    <link th:href="@{/css/header.css}" rel="stylesheet"/>
    <link th:href="@{/css/footer.css}" rel="stylesheet"/>
    <link th:href="@{/css/table.css}" rel="stylesheet"/>
    <link th:href="@{/css/button.css}" rel="stylesheet"/>
</head>
<body>
<div class="header">
    <button class="btn b3">
        <a th:href="@{/logout}">Logout</a>
    </button>
    <h1>Учет оборудования</h1>
</div>

<div class="topnav">
    <a th:href="@{/}">Главная</a>
    <a class="active" th:href="@{/equipments/}">Оборудование</a>
    <a th:href="@{/invoices/}">Накладные</a>
    <a th:href="@{/organizations/}">Организации</a>
    <a th:href="@{/branches/}">Филиалы</a>
    <a th:href="@{/branches_departments/}">Отделы</a>
    <a th:href="@{/resPersons/}">МОЛ</a>
    <a th:href="@{/rest-organizations/}">Rest</a>
</div>
<br>
<div th:switch="${listOfEquipments}">
    <div><h2 th:case="null">Оборудования в БД нет</h2></div>
    <div th:case="*">
        <form name="writeInvoice" th:action="@{/invoices/invoice-chooseEq}" method="post">
            <input type="hidden" name="idInvoice" th:value="${idInvoice}">
            <table id="customers">
                <caption><h1>Список Оборудования</h1></caption>
                <thead>
                <tr>
                    <th>№</th>
                    <th>
                        <a th:href="@{'/equipments/pages/' + ${pageNum} + '?sortField=accountNumber&sortDir=' + ${reverseSortDir} + '&idInvoice=' + ${idInvoice}}">
                            Инв. номер</a>
                    </th>
                    <th>
                        <a th:href="@{'/equipments/pages/' + ${pageNum} + '?sortField=sNumber&sortDir=' + ${reverseSortDir} + '&idInvoice=' + ${idInvoice}}">
                            Серийный номер</a>
                    </th>
                    <th>
                        Номер накладной
                    </th>
                    <th>
                        <a th:href="@{'/equipments/pages/' + ${pageNum} + '?sortField=equipmentDetail.name&sortDir=' + ${reverseSortDir} + '&idInvoice=' + ${idInvoice}}">
                            Модель оборудования</a>
                    </th>
                    <th>
                        <a th:href="@{'/equipments/pages/' + ${pageNum} + '?sortField=status&sortDir=' + ${reverseSortDir} + '&idInvoice=' + ${idInvoice}}">
                            Статус</a>
                    </th>
                    <th>
                        <a th:href="@{'/equipments/pages/' + ${pageNum} + '?sortField=price&sortDir=' + ${reverseSortDir} + '&idInvoice=' + ${idInvoice}}">
                            Цена, бел.руб.</a>
                    </th>
                    <th>
                        <a th:href="@{'/equipments/pages/' + ${pageNum} + '?sortField=startDate&sortDir=' + ${reverseSortDir} + '&idInvoice=' + ${idInvoice}}">
                            Начало использования</a>
                    </th>
                    <th>
                        <a th:href="@{'/equipments/pages/' + ${pageNum} + '?sortField=responsiblePerson.surname&sortDir=' + ${reverseSortDir} + '&idInvoice=' + ${idInvoice}}">
                            МОЛ</a>
                    </th>
                    <th>
                        <a th:href="@{'/equipments/pages/' + ${pageNum} + '?sortField=responsiblePerson.branch.name&sortDir=' + ${reverseSortDir} + '&idInvoice=' + ${idInvoice}}">
                            Филиал</a>
                    </th>
                    <th>
                        <a th:href="@{'/equipments/pages/' + ${pageNum} + '?sortField=responsiblePerson.department.name&sortDir=' + ${reverseSortDir} + '&idInvoice=' + ${idInvoice}}">
                            Отдел</a>
                    </th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="equipment,iter: ${listOfEquipments}">
                    <td th:text="${iter.count+(pageNum - 1)*pageSize}">
                    </td>
                    <td th:text="${equipment.accountNumber}"></td>
                    <td th:text="${equipment.serialNumber}"></td>
                    <td th:text="${equipment.equipmentDetail.name}"></td>
                    <td th:text="${equipment.status}"></td>
                    <td th:text="${equipment.price}"></td>
                    <td th:text="${equipment.startDate}"></td>
                    <div th:if="${equipment.responsiblePerson} !=null">
                        <td th:text="${equipment.responsiblePerson.surname} + ' ' + ${equipment.responsiblePerson.name}"></td>
                        <td th:text="${equipment.responsiblePerson.branch.name}"></td>
                        <td th:text="${equipment.responsiblePerson.department.name}"></td>
                    </div>
                    <div th:unless="${equipment.responsiblePerson} !=null">
                        <td></td>
                        <td></td>
                        <td></td>
                    </div>
                    <td>
                        <input type="checkbox" name="boxNameOfEquipment" th:value="${equipment.id}">
                    </td>
                </tr>
                </tbody>
            </table>
            <button class="btn b1" type="submit">Выбрать</button>
        </form>
        <br>

        <a class="page-link" th:if="${pageNum > 1}"
           th:href="@{'/equipments/page/'+ ${1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&idInvoice=' + ${idInvoice}}">
            Первая</a>
        <span th:unless="${pageNum > 1}">Первая</span>

        <a th:if="${pageNum > 1}"
           th:href="@{'/equipments/page/' + ${pageNum - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&idInvoice=' + ${idInvoice}}">
            Предыдущая</a>
        <span th:unless="${pageNum > 1}">Предыдущая</span>

        <span th:each="i : ${#numbers.sequence(1, totalPages)}">
        <a th:if="${i != pageNum}"
           th:href="@{'/equipments/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&idInvoice=' + ${idInvoice}}">[[${i}]]
        </a>
        <span th:unless="${i != pageNum}">[[${i}]]</span>
        </span>

        <a th:if="${pageNum < totalPages}"
           th:href="@{'/equipments/page/' + ${pageNum + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&idInvoice=' + ${idInvoice}}">
            Следующая</a>
        <span th:unless="${pageNum < totalPages}">Следующая</span>

        <a th:if="${pageNum < totalPages}"
           th:href="@{'/equipments/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&idInvoice=' + ${idInvoice}}">
            Последняя</a>
        <span th:unless="${pageNum < totalPages}">Последняя</span>
        <p>
            Всего строк [[${totalItems}]] : Страница [[${pageNum}]] из [[${totalPages}]]
        </p>
    </div>
</div>

<!--<div class="footer">-->
<!--    <h2>it.academy</h2>-->
<!--</div>-->
</body>
</html>