<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Equipments</title>
    <link th:href="@{/css/header.css}" rel="stylesheet"/>
    <link th:href="@{/css/footer.css}" rel="stylesheet"/>
    <link th:href="@{/css/table.css}" rel="stylesheet"/>
    <link th:href="@{/css/button.css}" rel="stylesheet"/>
    <link th:href="@{/css/form.css}" rel="stylesheet">
</head>
<body>
<div class="header">
    <button class="btn b3">
        <a th:href="@{/logout}">Logout</a>
    </button>
    <h1>Учет оборудования</h1>
</div>

<div class="topnav">
    <a th:href="@{/}">Главная</a>
    <a class="active" th:href="@{/equipments}">Оборудование</a>
    <a th:href="@{/invoices}">Накладные</a>
    <a th:href="@{/organizations}">Организации</a>
    <a th:href="@{/branches}">Филиалы</a>
    <a th:href="@{/branches_departments}">Отделы</a>
    <a th:href="@{/resPersons}">МОЛ</a>
    <a th:href="@{/rest-organizations}">Rest</a>
</div>
<h1>Редактировать информацию по Оборудованию</h1>
<div class="container">
    <form th:method="post" th:action="@{/equipments/equipment-update}" th:object="${equipment}">

        <input type="hidden" name="pageNum" th:value="${pageNum}">
        <input type="hidden" name="sortField" th:value="${sortField}">
        <input type="hidden" name="sortDir" th:value="${sortDir}">
        <input type="hidden" name="id" th:value="*{id}">
        <input type="hidden" name="idInvoiceCurrent" th:value="${idInvoiceCurrent}">

        <label for="accountNumber">Инвентарный номер: </label>
        <input type="text" th:field="*{accountNumber}" id="accountNumber" value="99424654">
        <div style="color: red" th:if="${#fields.hasErrors('accountNumber')}" th:errors="*{accountNumber}"></div>

        <label for="serialNumber">Серийный номер: </label>
        <input type="text" th:field="*{serialNumber}" id="serialNumber" value="serialNumber">
        <div style="color: red" th:if="${#fields.hasErrors('serialNumber')}" th:errors="*{serialNumber}"></div>
        <div th:if="${errorMessage}!=null"
             style="color: red" th:text="${errorMessage}"></div>
        <br>

        <label for="invoice">Накладная:</label>
        <select th:field="*{idInvoiceLast}" id="invoice" required>
            <option
                    th:each="invoice: ${listOfInvoices}"
                    th:text="${invoice.number} + ' ' + ${invoice.date}"
                    th:value="${invoice.id}"
                    th:selected="${invoice.id}==${equipment.idInvoiceLast}">
            </option>
        </select>
        <div style="color: red" th:if="${#fields.hasErrors('idInvoiceLast')}" th:errors="*{idInvoiceLast}"></div>

        <label for="equipmentDetail">Модель оборудования:</label>
        <select th:field="*{equipmentDetail.id}" id="equipmentDetail" required>
            <option
                    th:each="equipmentDetail: ${listOfEquipmentDetails}"
                    th:text="${equipmentDetail.name}"
                    th:value="${equipmentDetail.id}"
                    th:selected="${equipmentDetail.id}==${equipment.equipmentDetail.id}">
            </option>
        </select>
        <div style="color: red" th:if="${#fields.hasErrors('equipmentDetail.id')}"
             th:errors="*{equipmentDetail.id}"></div>

        <label for="status">Статус:</label>
        <select th:field="*{status}" id="status">
            <option th:value="*{status}" th:text="*{status}"></option>
            <option value="склад">склад</option>
            <option value="оформление">оформление</option>
            <option value="эксплуатация">эксплуатация</option>
            <option value="ремонт">ремонт</option>
            <option value="списание">списание</option>
            <option value="списано">списано</option>
        </select>
        <div style="color: red" th:if="${#fields.hasErrors('status')}" th:errors="*{status}"></div>

        <label for="startDate">Начало эксплуатации:</label>
        <br><input type="date" th:field="*{startDate}" id="startDate" value="startDate"><br><br>
        <div style="color: red" th:if="${#fields.hasErrors('status')}" th:errors="*{status}"></div>

        <label for="price">Цена, бел.руб.: </label>
        <input type="text" th:field="*{price}" id="price" required>
        <div style="color: red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>

        <label for="responsiblePerson">МОЛ:</label>
        <select name="resPerson" th:field="*{responsiblePerson.id}" id="responsiblePerson" required>
            <option value=""></option>
            <option
                    th:each="responsiblePerson: ${listOfResponsiblePersons}"
                    th:text="${responsiblePerson.surname} + ' ' + ${responsiblePerson.name}"
                    th:value="${responsiblePerson.id}"
                    th:name="resPerson">
                <div th:if="${equipment.responsiblePerson!=null}"
                     th:selected="${responsiblePerson.id}==${equipment.responsiblePerson.id}">
                </div>
            </option>
        </select>

        <input type="hidden" name="action">
        <button type="submit">Сорханить</button>

        <button type="reset">
            <a th:href="@{'/equipments/page/' + ${pageNum} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Назад</a>
        </button>

    </form>
</div>
</body>
</html>