<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Invoices</title>
    <link th:href="@{/css/header.css}" rel="stylesheet"/>
    <link th:href="@{/css/footer.css}" rel="stylesheet"/>
    <link th:href="@{/css/table.css}" rel="stylesheet"/>
    <link th:href="@{/css/button.css}" rel="stylesheet"/>
    <link th:href="@{/css/form.css}" rel="stylesheet">
</head>
<body>
<div class="header">
    <button class="btn b3">
        <a th:href="@{/logout}">Logout</a>
    </button>
    <h1>Учет оборудования</h1>
</div>

<div class="topnav">
    <a th:href="@{/}">Главная</a>
    <a th:href="@{/equipments/}">Оборудование</a>
    <a class="active" th:href="@{/invoices/}">Накладные</a>
    <a th:href="@{/organizations/}">Организации</a>
    <a th:href="@{/branches/}">Филиалы</a>
    <a th:href="@{/branches_departments/}">Отделы</a>
    <a th:href="@{/resPersons/}">МОЛ</a>
    <a th:href="@{/rest-organizations/}">Rest</a>
</div>
<br>
<h1>Редактировать Накладную</h1>
<form name="create" th:action="@{/invoices/invoice-update}" th:object="${invoice}" method="post">
    <div class="container">
        <input type="hidden" name="pageNum" th:value="${pageNum}">
        <input type="hidden" name="sortField" th:value="${sortField}">
        <input type="hidden" name="sortDir" th:value="${sortDir}">
        <input type="hidden" name="id" th:value="*{id}">
        <input type="hidden" name="idSupplier" th:value="*{supplier.id}">
        <input type="hidden" name="idReceiver" th:value="*{receiver.id}">

        <label for="number">Номер №:</label>
        <input type="text" th:field="*{number}" id="number" readonly value="number">

        <label for="date">Дата:</label><br>
        <input type="text" th:field="*{date}" id="date" readonly value="date">

        <label for="cause">Основание:</label>
        <input type="text" th:field="*{cause}" id="cause" placeholder="cause">
        <div style="color: red" th:if="${#fields.hasErrors('cause')}" th:errors="*{cause}"></div>

        <label for="supplier">ГрузоОтправитель:</label>
        <select th:field="*{supplier.id}" id="supplier" required>
            <option
                    th:each="supplier: ${listOfOrganizations}"
                    th:text="${supplier.name}"
                    th:value="${supplier.id}"
                    th:selected="${supplier.id}==${invoice.supplier.id}">
            </option>
        </select>

        <label for="receiver">ГрузоПолучатель:</label>
        <select th:field="*{receiver.id}" id="receiver" required>
            <option
                    th:each="receiver: ${listOfOrganizations}"
                    th:text="${receiver.name}"
                    th:value="${receiver.id}"
                    th:selected="${receiver.id}==${invoice.receiver.id}">
            </option>
        </select>
    </div>

    <input type="hidden" name="action">
    <button type="submit">Сорханить</button>

    <button type="reset">
        <a th:href="@{'/invoices/page/' + ${pageNum} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Назад</a>
    </button>
    </div>
    </div>
</form>
</body>
</html>