<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Invoices</title>
    <link th:href="@{/css/header.css}" rel="stylesheet"/>
    <link th:href="@{/css/footer.css}" rel="stylesheet"/>
    <link th:href="@{/css/table.css}" rel="stylesheet"/>
    <link th:href="@{/css/button.css}" rel="stylesheet"/>
    <link th:href="@{/css/form.css}" rel="stylesheet">
</head>
<body>

<div class="header">
    <button class="btn b3">
    </button>
    <h1>Учет оборудования</h1>
</div>

<form th:action="@{/login}" method="post">
    <div class="container">
        <label for="username">Логин:</label>
        <br><input type="text" id="username" name="username" value="" placeholder="Логин:">
        <div style="color: red" th:if="${param.error}">
            Такого логина не существует!
        </div>
        <div th:if="${param.logout}">
            Вы вышли из программы.
        </div>
        <br><br>
        <label for="passord">Пароль:</label>
        <br><input type="password" id="passord" name="password" value="" placeholder="Пароль:">
        <div style="color: red" th:if="${param.error}">
            Неверный пароль!
        </div>

        <p class="submit"><input type="submit" name="commit" value="Войти"></p>
    </div>
</form>


</body>
</html>